{namespace cal=Tx_Cal_ViewHelpers}

<div class="homeNewsList">
  <div class="agenda-slider">
    <div class="slider">
      <f:if condition="{listView.master_array}">
        <f:then>
          <ul>
            <f:for each="{listView.master_array}" as="entriesOfADay" key="day">
              <f:if condition="{day} <= {f:format.date(format:'Ymd' date:'@{listView.endtime.time}')}">
                <f:for each="{entriesOfADay}" as="entriesOfAnHour">
                  <f:for each="{entriesOfAnHour}" as="event">
                    <f:render partial="List/event" arguments="{event:event, settings:settings}" />
                  </f:for>
                </f:for>
              </f:if>
            </f:for>
          </ul>
        </f:then>
        <f:else>
          <f:translate
            key="LLL:EXT:cal/Resources/Private/Language/locallang.xml:l_no_results" />
        </f:else>
      </f:if>
    </div><!-- .slider -->
    <div class="liens-slider">
      <a title="Faire défiler les évènements" href="javascript:void(0);" class="previous left"><i class="fa fa-chevron-left fa-3"></i></a>
      <a title="Faire défiler les évènements" href="javascript:void(0);" class="next right"><i class="fa fa-chevron-right fa-3"></i></a>
    </div>
    <span class="liens-agenda">
      <a class="text-noir" href="/agenda-actualites/agenda/">+ De dates</a>
    </span>
  </div>
</div>
